.section_two {
  background: url("/public/assets/img/WeddingWebsite/1.2/Background-1.2-Mobile.jpg")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 100%; */
  height: 833px;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
}

.section_two__content {
  position: absolute;
  bottom: 50px;
  left: 0;
  display: block;
  width: 100%;
  /* transform: translate(-50%, -50%); */
}

.section_two__content_title {
  font-size: 30px;
  font-family: "Alex Brush", sans-serif;
  font-weight: 400;
  position: relative;
  left: 5.5%;
  color: #fff;
  margin-bottom: 2rem;
}

/* RWD for width > 728 and height 1024 */
@media screen and (min-width: 768px) and (min-height: 1024px) {
  .section_two {
    background: url("/public/assets/img/WeddingWebsite/1.2/Background-1.2-Tablet.jpg")
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .section_two__content_title {
    font-size: 40px;
  }
}

@media screen and (max-height: 1023px) {
  .section_two__content {
    bottom: 20px;
  }
}

/* Responsive web design for width > 1024 and height > 1024 */
@media screen and (min-width: 1024px) and (min-height: 1024px) {
  .section_two {
    background: url("/public/assets/img/WeddingWebsite/1.2/Background-1.2-Desktop.jpg")
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
