.section_three {
  background: url("/public/assets/img/WeddingWebsite/1.3/Background-1.3-Mobile.png")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.section_three__content {
  position: absolute;
  bottom: 50px;
  left: 0;
  display: block;
  width: 100%;
  /* transform: translate(-50%, -50%); */
}

.section_three__content_title {
  font-size: 30px;
  font-family: "Alex Brush", sans-serif;
  font-weight: 400;
  position: relative;
  left: 5.5%;
  color: #fff;
  margin-bottom: 2rem;
}

/* RWD for width > 728 and height 1024 */
@media screen and (min-width: 768px) and (min-height: 1024px) {
  .section_three {
    background: url("/public/assets/img/WeddingWebsite/1.3/Background-1.3-Tablet.png")
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .section_three__content_title {
    font-size: 40px;
  }
}

/* Responsive web design for width > 1024 and height > 1024 */
@media screen and (min-width: 1024px) and (min-height: 1024px) {
  .section_three {
    background: url("/public/assets/img/WeddingWebsite/1.3/Background-1.3-Desktop.png")
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
