.Section_Seven {
  background: url("/public/assets/img/WeddingWebsite/1.7/Mobile-1.7.jpg")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.Section_Seven__Card {
  border-radius: 10px;
  background: url("/public/assets/img/WeddingWebsite/1.7/img/imgMobile-1.7.jpg")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
  max-height: 700px;
  width: 95%;
  padding: 30px;
  margin-top: 1.5rem;
  overflow-y: auto;
}

.Section_Seven__Card::-webkit-scrollbar {
  width: 10px;
}

.Section_Seven__Card::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.Section_Seven__Card::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Section_Seven__Title {
  text-align: center;
  font-size: 18px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  letter-spacing: 1.8px;
  margin-bottom: 1.1rem;
}

.Form_Control {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.Form_Control label {
  font-size: 16px;
  font-weight: 500;
}

.Form_Control input {
  padding: 10px;
}

.Form_Control input,
.Form_Control textarea {
  background-color: transparent;
  border: unset;
  border-bottom: 1px solid #000;
}

.Form_Control input:focus,
.Form_Control textarea:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .Section_Seven {
    background: url("/public/assets/img/WeddingWebsite/1.7/Tablet-1.7.jpg")
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .Section_Seven__Card {
    padding: 50px 80px;
    height: 800px;
    margin-top: 3rem;
  }

  .Section_Seven__Title {
    font-size: 30px;
  }

  .Form_Control label {
    font-size: 20px;
  }

  .Form_Control input,
  .Form_Control textarea {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .Section_Seven {
    background: url("/public/assets/img/WeddingWebsite/1.7/Desktop-1.7.jpg")
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .Section_Seven__Card {
    border-radius: 10px;
    background: url("/public/assets/img/WeddingWebsite/1.7/img/imgDesktop-1.7.jpg")
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px 50px;
    height: 100%;
    margin-top: 1rem;
    width: 75%;
  }

  .Section_Seven__Title {
    width: 50%;
    margin: 0 auto;
  }

  .Form_Control label {
    font-size: 20px;
  }
}
