.container section {
  height: 100vh;
  width: 100vw;
  background-color: #eee;
  /* padding: 30px 32px 32px; */
  padding: 30px 32px 32px;
  scroll-snap-align: end;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container section:nth-child(5) {
  padding: 50px 0 32px;
}

.container {
  overflow-y: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.container::-webkit-scrollbar {
  display: none;
}

.video-player {
  height: 250px !important;
}

.logo_wedding {
  max-width: 120px;
  max-height: 120px;
}

@media screen and (min-width: 768px) {
  .logo_wedding {
    max-width: 150px;
    max-height: 150px;
  }
  .container section {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .video-player {
    height: 280px !important;
  }
}
@media screen and (min-width: 1440px) {
  .video-player {
    height: 350px !important;
  }
}

.float_button {
  position: fixed;
  width: 60px;
  height: 60px;
  /* bottom: 40px;
  right: 40px; */
  bottom: 30px;
  right: 20px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}
