@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Assistant:wght@400;500;600&family=Niramit:wght@300;400;500;600&family=Playfair+Display:wght@300;400;500&display=swap");
/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Niramit", sans-serif;
  overflow: hidden;
}

a,
ul {
  text-decoration: none;
}
